/** @format */

:root {
  --gray-text-color: #999999;
  --blacl-text-color: #000000;
  --whte-text-color: #ffffff;
  --accent-color: #4985ff;
  --shaodw: 0px 0px 10px rgba(111, 111, 111, 0.25);
  --card-gap: 30px;
  --card-item: 3;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.56;
  color: var(--gray-text-color);
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul,
ol {
  padding: 0;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
}
.container {
  width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-title {
  font-size: 36px;
  line-height: 1.47;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-gap);
  /* margin-left: calc(-1 * var(--card-gap));
    margin-top: calc(-1 * var(--card-gap)); */
}
.card-item {
  /* flex-basis: calc((100% - (3 - 1) * 30px) / 3); */
  flex-basis: calc(
    (100% - (var(--card-item) - 1) * var(--card-gap)) / var(--card-item)
  );
  /* flex-basis: calc(100% / var(--card-item) - var(--card-gap)); */
  /* margin-left: var(--card-gap);
    margin-top: var(--card-gap); */
}
.text-white {
  color: var(--whte-text-color);
}
.text-black {
  color: var(--blacl-text-color);
}
.item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--blacl-text-color);
}
.work {
  background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%), #c4c4c4;
}
.video {
  background: linear-gradient(90deg, #504dc2 20.44%, #5f12d0 80.91%), #c4c4c4;
}
.header-container {
  display: flex;
  align-items: center;
}
.header {
  background-color: var(--gray-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.25;
}
.header .logo {
  margin-right: 50px;
}
.nav {
  display: flex;
  align-items: center;
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}
.nav-link,
.contact-link {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact-list {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.hero {
  padding-top: 220px;
  padding-bottom: 335px;
  font-weight: 500;
  line-height: 1.25;
  background-color: var(--gray-text-color);
  text-align: center;
}
.hero-text {
  margin-bottom: 20px;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 829px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
}
.main-button {
  padding: 14px 36px;
  max-width: 200px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--whte-text-color);
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: var(--shaodw);
  border-radius: 30px;
  border: none;
}
.about-title {
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  max-width: 739px;
  text-align: center;
}
.about-text {
  margin-bottom: 70px;
  margin-left: auto;
  margin-right: auto;
  max-width: 730px;
  text-align: center;
}

.about-button {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.about-list {
  margin-bottom: 55px;
}

.standart-list {
  --card-gap: 100px;
  --card-item: 5;
  border-top: 1px solid #E0E0E0;
  padding-top: 70px;
}

.standart-content{
display: flex;
align-items: center;
margin-bottom: 90px;
gap: 120px;
}

.standart-title {
   margin-bottom: 60px;
}

.standart-text{
   margin-bottom: 40px;
}

