.main-button {
  padding: 14px 36px;
  min-width: 200px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--whte-text-color);
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: var(--shaodw);
  border-radius: 30px;
  border: none;

}
.close-btn{
  cursor: pointer;
  position: absolute;
  top:8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: fill var(--transition);
  &:hover,&:focus{
    fill: var(--accent-color);
    
  }

}