.form{
&__label{
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);

}
&__input{
height: 40px;
width: 100%;
padding: 15px;
padding-left: 40px;
  border: 1px solid gray;
        transition: border var(--transition);
&:hover,
&:focus{
  border: 1px solid var(--accent-color);
}
}

&__fild{
  position: relative;
  
}
&__icon{
  position: absolute;
  left: 15px;
  top: 50%;
      transform: translateY(-50%);
      transition: fill var(--transition);

      .form__input:hover + &,
      .form__input:focus + &{
        fill:var(--accent-color);
      }
}



}

