:root {
  --card-gap: 30px;
    --card-item: 1;

  --gray-text-color: #999999;
  --blacl-text-color: #000000;
  --whte-text-color: #ffffff;
  --accent-color: #4985ff;
  --shaodw: 0px 0px 10px rgba(111, 111, 111, 0.25);
  --violet-cl: #504dc2;
 
  --transition: 250ms linear;
}