.hero {
  padding-top: 220px;
  padding-bottom: 335px;
  font-weight: 500;
  line-height: 1.25;
  background-color: var(--gray-text-color);
  text-align: center;
  background-image: url('../img/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  @include mq(retina){
    background-image: url('../img/hero@2x.jpg');
  }
}

.hero-text {
  margin-bottom: 20px;
}
.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  max-width: 829px;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  @include mq(mob-only){

    display: none;
  }
}