.standart-list {
  --card-gap: 100px;
  --card-item: 5;
  border-top: 1px solid #E0E0E0;
  padding-top: 70px;
}

/* .standart-content{
display: flex;
align-items: center;
margin-bottom: 90px;
gap: 120px;
} */

.standart-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 120px;
  margin-bottom: 90px;
  row-gap: 50px;

}

/* .standart-title {
   margin-bottom: 60px;
   grid-row-start: 1;
   grid-row-end: 2;
   grid-column-start: 1;
   grid-column-end: 3;
} */

.standart-text {
  /* grid-row-start: 2;
   grid-row-end: 3;
   grid-column-start: 1;
   grid-column-end: 2; */
  /* margin-bottom: 40px; */
}

.standart-link {
  /* grid-row-start: 3;
   grid-row-end: 4;
   grid-column-start: 1;
   grid-column-end: 2; */
}

.standart-img {
  /* grid-row-start: 1;
   grid-row-end: 4;
   grid-column-start: 2;
   grid-column-end: 3; */
  grid-area: 1 / 2 / 4 / 3;
}